.table-responsive {
  display: block;
  width: 100%;
  /* overflow-x: auto; */
  /* overflow-y: auto; */
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  flex: 1 1 auto;
  padding-bottom: 1rem;
  margin-top: 0 !important;
  padding-top: 0 !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
}
::-webkit-scrollbar {
  width: 2px !important; /* width of the entire scrollbar */
  height: 2px !important;
}

::-webkit-scrollbar-track {
  /* background: red;  color of the tracking area */
  box-shadow: inset 0 0 5px #f1f1f1 !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #5d5d5d !important; /* color of the scroll thumb */
  border-radius: 10px !important; /* roundness of the scroll thumb */
  /* border: 3px solid orange; creates padding around scroll thumb */
}
