.arrowRight {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  width: 8px;
  height: 8px;
  transform: rotate(320deg);
}
.arrowDown {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}
.table-responsive {
  display: block;
  width: 100%;
  /* overflow-x: auto; */
  /* overflow-y: auto; */
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
