
.table-responsive {
  display: block;
  width: 100%;
  /* overflow-x: auto; */
  /* overflow-y: auto; */
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  flex: 1 1 auto;
  padding: 1rem 1rem;
  /* max-height: 90vh;
  overflow-x: auto; */
}
